<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    
    <% if current_user %>
      <%= form_for @review, url: "/products/#{@product.id}/reviews" do |review| %>
        <%= review.text_area :description %>
        <%= review.select :rating, [1, 2, 3, 4, 5] %>
        <%= review.submit "Comment"%>
      <% end %>
    <% end %>

    <div>
    
    <% @product.reviews.order(created_at: :desc).each do |review| %>
        <% id = review.user_id %>
        <% user = @users.find(id) %>
        <p><%= user.first_name %> <%= user.last_name %></p>
        <p><%= review.description%></p>
        <p>rating: <%= review.rating%></p>
        <% if current_user != nil && current_user.id == user.id %>
          <%= link_to "delete", [@product, review], :method => :delete %>
        <% else %>
          <% %>
        <% end %>
    <% end %>
    </div>

  </article>

</section>
